@media only screen and (min-width: 768px){
    .list-playlist{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        padding:0
    }
    .video-home{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
        padding:1rem;
    }
    .video-wrapper{
        grid-area: main-body;
    }
    .display-items{
        overflow-y: hidden;
    }
    .nav-options-link{
        right:3rem
    }
}
@media only screen and (max-width: 768px){
    .list-playlist{
        padding:0
    }
    .video-home{
        padding:0
    }
    .video-wrapper{
        flex-wrap: wrap;
    }
    textarea{
        height:9.5rem;
    }
}