@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    --search-color:#fff;
    --search-text-color:#111827;

    --search-rgb:rgba(243, 244, 246,0.3);
    --hover-rgb:rgba(33,33,33,0.3);
    --sub-text-color:#c2c2c2;
    --border-color:#5c5c5c
}
.search p{
    display:flex;
}
.search-bar{
    position: relative;
    display:flex;
    background-color:var(--search-color);
    padding:0.5rem 1rem 0.5rem 1rem;
    width:80%;
}
.search-input{
    background-color:transparent;
    border:none;
    margin-left: 1rem;
    font-size: 1rem;
    color:var(--search-text-color);
    width:90%;
}
.video-list{
    width:100%;
}
.video-home{
    margin-top: 1rem;
}
.video-wrapper{
    width:100%;
    height:100%;
    position: relative;
    display:flex;
    transition: 0.6s;
}
.video-holder{
    width:100%;
    height:100%;
}

.description * {
    font-family: 'Merriweather Sans', sans-serif;
}
.description{
    width:100%;
    height: auto;
    position: relative;
}
.logo{
    color:#00aeb8 !important;
}
.saved-heading span{
    /* padding:0 0 1rem 0 ; */
    border-bottom: 2px solid var(--border-color);
    height:2.5rem;
}
.saved-heading{
    display:flex;
    justify-content: center;
}
.saved-heading p{
    color:var(--text-color);
    width:7rem;
}
.take-notes{
    width:100%;
    height:192%;
    font-family: 'Merriweather Sans', sans-serif;
    display:flex;
    flex-direction:column;
    background-color: var(--video-background);
    margin:0.5rem 1rem 0 1rem;
}
textarea{
    height:100%;
    resize: none;
    border:none;
    padding: 1rem;
    background-color:#333333;
    font-family: 'Merriweather Sans', sans-serif;
    color:white !important;
    margin-top:1rem;
    white-space:pre-wrap;
}
.note-controlls{
    display:flex;
    position: relative;
    height:5rem;
}
.save-btn{
    font-family: 'Merriweather Sans', sans-serif;
    background-color:transparent;
    color:white;
    margin:0.5rem;
    width:7rem;
    border:1px solid #525252;
    padding:0.5rem;
    transition: 0.3s;
    letter-spacing:2px;
    align-self: flex-end;
    position: absolute;
    left: 1rem;
}
.save-btn .fa-bookmark-o{
    margin-left:0.5rem
}
.trash{
    font-family: 'Merriweather Sans', sans-serif;
    background-color:transparent;
    color:white;
    margin:0.5rem;
    border:transparent;
    padding:0.5rem;
    transition: 0.3s;
    letter-spacing:2px;
    align-self: flex-end;
    position: absolute;
    right: 1rem;
    border-radius:50%;
}
.fa-trash-o{
    color: #FF3333 !important;
}
.trash:hover{
    background-color:var(--hover-rgb)
}
.trash:hover .fa-trash-o{
    transform:rotate(-20deg)
}

.warning-modal{
    position:absolute;
    background-color:#212121;
    right:2rem;
    height:auto;
    top:-5.5rem;
    box-shadow:var(--box-shadow) 0px 0px 3px;
    width:60%;
    z-index:var(--index-10);
    padding:0 0 0.3rem 0;
}
.warning{
    width:100%;
    color:white;
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
}
.warning span{
    margin:0 0 0 0.5rem;
    height:1.9rem;
    border-bottom: 1.5px solid white;
    width:96%;
}
.warning-heading{
    margin:0;
    text-align:left;
    padding:0.5rem 0 0 0;
    font-size:0.8rem;
    display:flex;
    align-items:center;
}
.warning-heading span{
    border-bottom:1rem solid #fff;
}
.warning-btn{
    border:1px solid #858585;
    margin: 0 1rem 0 0 ;
    padding:0.2rem;
    width:30%;
    color:white;
    background:transparent;
}
.warning-primary{
    background:#3D3D3D;
    border:none;
}
.fa-warning{
    margin:0 0 0 0.3rem;
    color:yellow !important;
    font-size:0.8rem !important;
}
.warning-text{
    font-size:0.7rem;
    text-align:left;
    padding: 0 0.5rem;
}
.save-btn:hover{
    background-color:#212121
}
.video-title{
    margin:0;
    background-color: var(--video-background);
    color:white;
    text-align:left;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
.video-action-buttons{
    background-color: var(--video-background);
    display:flex;
    justify-content:flex-end;
    border-bottom: 1px solid var(--search-rgb);
    position: relative;
    padding-right: 1rem;
    padding-bottom: 1rem;

}
.btn-video-action{
    background-color:transparent;
    border:none;
    justify-content:flex-end;
    margin-right: 1rem;
}
.svg-btn{
    padding: 0;

}
.action-icon{
    width:80%;
}
.fa{
    color:white;
    font-size: 1rem;
    appearance: none;
    padding-top: 3px;
    transition: 0.2s ;
}
.channel-info{
    display:flex;
    justify-content:flex-start;
    padding:1rem;
    color:white;
    border-bottom: 1px solid var(--search-rgb) ;
}
.channel-avatar{
    border-radius: 50%;
    width:3rem;
}
.channel-other-info{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding:0 0 0 0.5rem;
}
.channel-subscribers{
    color:var(--sub-text-color);
    font-size:0.7rem
}
.fa-heart:checked{
    color:rgb(226, 38, 77);
}
.fa-bookmark:checked{
    color:#3D8BFD;
}
.genres-area{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    font-family: 'Merriweather Sans', sans-serif;
}
.genre-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-row-gap: 10px;
}
.genres{
    width:6rem;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    color:white;
    background-color: #474747
}
.not-found{
    transform: translateY(45%);
}
.nav-options{
    color:var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items :flex-start;
    font-size: 1.2rem;
    align-self: flex-start;
    
}
.nav-options p{
    margin:1rem;
    display:flex;
    width:100%;
    position: relative;
}
.display-items{
    display: flex;
    flex-direction:row;
    overflow: hidden;
    width: 100%;
}
.home{
    overflow:hidden;
}
.nav-options-link{
    font-size: 0.8rem;
    color:var(--text-color);
    align-self:center;
    position: absolute;
    margin:auto;
    right:1rem;   
}
.saved-display{
    position: absolute;
    z-index: var(--index-5);
    right: 1rem;   
    bottom:-130%;
}
.saved-image{
    width:7rem;
    animation: zoomin 0.2s forwards linear, swipe 0.1s 1s forwards linear;
}
.empty-heading{
    font-size: 1rem;
    color:#525252;
    text-align:left;
    font-family: 'Merriweather Sans', sans-serif;
}
.video-home .empty-heading{
    grid-area: 1 / 2;
}
.list-playlist{
    position: relative;
}
.list-playlist .empty-heading{
    position: absolute;
    width:10rem;
    left:-4rem;
}
/* ----Login---- */
.login{
    width: 100%;
    height:100%;
    position:fixed;
    background-image: url(./Images/bg-texture.svg);
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    z-index: var(--index-10);
}
.login-card{
    color:white;
    width:80%;
    height:60%;
    background-color: var(--background-color);
    box-shadow: #333333 0px -2px 10px 0px;
    border-radius: 7px;
    font-weight:300;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.login-greeting{
    color:var(--search-rgb);
    font-weight:bold;
    color:#999999;
    letter-spacing:1px;
}
.login-heading{
    margin:0;
    margin-bottom:0.4rem;
    font-weight:400;
    font-size: 1.2rem;
    letter-spacing:1px;
    color:#ebebeb;
}
.login-border{
    margin:0;
    line-height: 2rem;
}   
.login-border p{
    height:1rem;
    margin:0;
}
.login-logo{
    color:rgba(0, 198, 207,0.7);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing:1px;
}
.login-underline{
    height:3rem;
    width:7rem;
    border-bottom: 2px solid #c5c5c5;
    content:""
}
.question{
    align-self: flex-start;
    padding-left:13%;
}
.signup-question{
    margin-top: 1rem;
}
.signup-card{
    height:auto;
    padding-bottom:2rem;

}
.input-fields{
    margin-top: 1rem;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    width:75%;
    position: relative;
    line-height: 44px;
}
label{      
    margin:0;
    position: absolute;
    left:0;
    bottom:-5px;
    font-size: 0.9rem;
    transition: 0.5s ease;
    font-weight: lighter;
}
.input{
    height:2rem;
    width:100%;
    border:none;
    background-color: transparent;
    border-bottom: 2px solid var(--search-rgb);
    color:white;
    padding:0;
}
input:focus ~ label,
input:valid ~ label{
    transform: translateY(-20px);
    font-size:0.7rem;
    color:#00C6CF
}

.input:focus{
    border-bottom: 1.5px solid var(--text-color-logo);
}
.login-btn{
    margin-top: 2rem;
    font-size: 1.1rem;
    color:white;
    background-color: transparent;
    width:75%;
    height:2.2rem;
    background-color:#006166;
    border:none;
    border-radius: 3px;
    transition: 0.3s ease;
}
.login-btn:hover{
    background-color:#009BA3;
}
.forgot-password-field{
    display:flex;
    width: 75%;
    justify-content:flex-end;
    position: relative;
}
.forgot-password{
    color:white;
    font-size: 0.7rem;
    margin:0.3rem 0 0 0 ;
    font-weight: lighter;
    text-decoration: none;
}
.signup{
    font-size: 0.7rem;
    justify-self: flex-end;
}
.error-login{
    font-size: 0.8rem;
    width:75%;
    text-align: left;
    color:#d34e4d;
    width:auto;
    position: absolute;
    left:0;
    margin:0.3rem 0 0 0 ;
    font-weight: lighter;
}
.inverted{
    align-items: center;
    font-weight: 300;
}

/* Account */
.account{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    color:white;
    font-family: 'Roboto', sans-serif;
    width:75%;
}
.account-heading{
    margin:0;
    font-family: 'Roboto', sans-serif;
    letter-spacing:1px;
    color:white;
    width:auto;
}
.account-error{
    position: relative;
    width:100%;
    margin:0;
}
.account-field{
    margin:0;
    height:auto;
}
.logout-btn{
    background-color:transparent;
    color:white;
    border:none;
    display:flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top:0.2rem;
    right:0.5rem;
    border-radius:3px;
    padding:0.3rem;
    transition: 0.3s ease;
}
.logout-btn:hover{
    background-color:rgba(71,71,71,0.3)
}
.logout-btn .fa{
    margin-left: 0.3rem;
}
.signup-page{
    background:green;
    position: fixed;
    width:100%;
    height:100%;
    display:flex;
}
/* Alert */

.alert{ 
    background-color:#285C1F;
    width:75%;
    padding:0.6rem;
    border-radius : 5px;
    display:grid;
    grid-template-columns:1fr 6fr;
    visibility: hidden;
}
.alert p{
    margin:0;
    text-align:left;
    padding-left:2rem;
}
.danger{
    background-color:#9a031e;
}
.alert .fa{
    font-size:1.2rem;
    padding:0;
}
@keyframes zoomin{
    from{
        transform:scale(0)
    }
    to{
        transform:scale(1)
    }
}
@keyframes swipe{
    from {
        opacity: 0.5;
        transform:scale(1)
    }
    to{
        opacity: 0;
        transform:scale(0)
    }
}