/* Rubit Regular */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* Merriweather regular */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

/* Open Sans WT 200 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Roboto Thin WT 300 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Roboto Thin WT 100 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
  --background-color:#212121;
}
*:focus{
  outline-color: transparent;
  outline-width: 0;
}
.fa { font-family: 'FontAwesome' !important; }

body{
  margin:0;
  padding: 0;
  background-color: var(--background-color);
  position: relative;
 }
 
